name: Deploy HTML App to Azure 

on: 
  workflow_dispatch:
  
jobs: 
  bootstrap: 
    runs-on: ubuntu-latest 
    steps: 
      - name: Azure Login 
        uses: azure/login@v2 
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }} 
          
      - name: Create Terraform State Storage 
        run: | 
          az group create -n tfstate-rg -l eastus --output none || true 
          az storage account create -n tfstatelola2025 -g tfstate-rg -l eastus --sku Standard_LRS --output none || true 
          az storage container create -n tfstate --account-name tfstatelola2025 --auth-mode login --output none || true 

  deploy: 
    needs: bootstrap 
    runs-on: ubuntu-latest 
    env: 
      TF_DIR: terraform 
      WEBAPP_DIR: webapp 
      ZIP_NAME: site.zip 
      
    steps: 
      - uses: actions/checkout@v4 

      - uses: azure/login@v2 
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }} 

      - uses: hashicorp/setup-terraform@v3 

      - run: terraform -chdir=${{ env.TF_DIR }} init 
      - run: terraform -chdir=${{ env.TF_DIR }} apply -auto-approve 

      - id: tfout 
        run: | 
          echo "webapp_name=$(terraform -chdir=${{ env.TF_DIR }} output -raw webapp_name)" >> $GITHUB_OUTPUT 

      - run: | 
          cd ${{ env.WEBAPP_DIR }} 
          zip -r ../${{ env.ZIP_NAME }} . 

      - uses: azure/webapps-deploy@v3 
        with: 
          app-name: ${{ steps.tfout.outputs.webapp_name }} 
          package: ./${{ env.ZIP_NAME }} 
